<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-11/css/all.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/materia/bootstrap.min.css"
		/>
		<link rel="stylesheet" href="../css/style.css" />
		<title>SignUp</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
			<div class="container">
				<a class="navbar-brand text-success" href="#">SaveMore</a>
				<button
					class="navbar-toggler"
					type="button"
					data-toggle="collapse"
					data-target="#navbarResponsive"
					aria-controls="navbarResponsive"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active">
							<a class="nav-link text-success" href="./signup.html">SignUp</a>
							<span class="sr-only">(current)</span>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="./signin.html">Login</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<section class="container h-100">
			<div class="row h-100 justify-content-center align-items-center mt-3">
				<div class="col-lg-6 col-md-8 col-12">
					<h2 class="font-weight-bold text-center my-2">
						Sign Up
					</h2>
					<div class="d-flex flex-column justify-content-center">
						<div class="card">
							<div class="card-body">
								<form>
									<div class="form-group">
										<label for="email">Email Address</label>
										<input
											type="email"
											class="form-control"
											id="email"
											placeholder="name@example.com"
										/>
									</div>
									<div class="form-group">
										<label for="password">Password</label>
										<input type="password" class="form-control" id="password" />
									</div>
									<div class="form-group">
										<label for="confPassword">Confirm Password</label>
										<input
											type="password"
											class="form-control"
											id="confPassword"
										/>
									</div>
									<div class="d-flex justify-content-end">
										<button class="btn btn btn-success">
											Sign Up
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</body>
</html>
